.pop-up__submit-button {
  background: black;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  color: white;
  display: block;
  margin: 48px 0 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.2s;
}

@media screen and (max-width: 759px) {
  .pop-up__submit-button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 25px;
  }
}

.pop-up__submit-button:hover {
  opacity: 80%;
  cursor: pointer;
}
