.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url("../../../images/cross.png");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: 2px white solid;
  margin: auto 0 auto auto;
}

@media screen and (max-width: 759px) {
  .profile__add-button {
    width: 100%;
    max-width: 300px;
    margin: 34px auto 36px;
  }
}
