.pop-up__exit {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url("../../../images/exit.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
}

@media screen and (max-width: 759px) {
  .pop-up__exit {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}

.pop-up__exit:hover {
  opacity: 60%;
  cursor: pointer;
}
